
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiSoft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sitio.css" />
    <link href="~/css/stylepelis.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>CineMa</h1>
        <nav>
            <a href="index3.html">Inicio</a>
            <a href="index3.html">Pelicula</a>
            <a href="index3.html">Nosotros</a>
            <a href="index3.html">Contactos</a>


        </nav>
    </header>
    <div class="container">
        <section>
            <div class="item">
                <img src="~/ImagenesPelis/201263091341_1.jpg" alt="" class="item-img">
                <div class="item-text">
                    <h3>Imagen 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/ImagenesPelis/a5ca89e7c0dc8cccd7c0dc2314bd3f8d.jpg" alt="" class="item-img">
                <div class="item-text">
                    <h3>Imagen 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/ImagenesPelis/resident_evil_extinction_resident_evil_3-571197761-large.jpg" alt="" class="item-img">
                <div class="item-text">
                    <h3>Imagen 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/ImagenesPelis/SU_Movie_Poster.jpg" alt="" class="item-img">
                <div class="item-text">
                    <h3>Imagen 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>


            <div class="item">
                <img src="~/ImagenesPelis/unnamed.jpg" alt="" class="item-img">
                <div class="item-text">
                    <h3>Imagen 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/ImagenesPelis/soul.jpg" alt="" class="item-img">
                <div class="item-text">
                    <h3>Imagen 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>
        </section>
    </div>


</body>
</html>