@model IEnumerable<VentadeTaquillas.Data.Pelicula>

@{
    ViewData["Title"] = "PeliculasProx";
}

<link rel="stylesheet" href="~/css/peliculas.css" />

<section id="galeria" class="container">
    <div class="text-center pt-3">
        <h1>Peliculas Disponibles</h1>

    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
              
                @if (item.ImagenPeli != null) {

                            var base64 = Convert.ToBase64String(item.ImagenPeli);
                            var img = string.Format("data:image/jpg;base64,{0}", base64);

                <a href="#"><img class="img-thumbnail" src="@img" alt="" /></a>

                }

            </div>
        }
    </div>
</section>

