
@{
    ViewData["Title"] = "PeliculasDisp";
}

<link rel="stylesheet" href="~/css/peliculas.css" />

<section id="galeria" class="container">
    <div class="text-center pt-3">
        <h1>Peliculas Disponibles</h1>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/ImagenesPelis/201263091341_1.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/ImagenesPelis/a5ca89e7c0dc8cccd7c0dc2314bd3f8d.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/ImagenesPelis/resident_evil_extinction_resident_evil_3-571197761-large.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/ImagenesPelis/soul.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/ImagenesPelis/SU_Movie_Poster.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/ImagenesPelis/unnamed.jpg" alt="" /></a>
        </div>
    </div>
</section>

