@model IEnumerable<VentadeTaquillas.Data.Pelicula>

@{
    ViewData["Title"] = "PeliculasProx";
}

<link rel="stylesheet" href="~/css/peliculas.css" />

<section id="galeria" class="container">
    <div class="text-center pt-3">
        <h1>Peliculas Proximas</h1>
        <p>Click para ver detalles</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/Imagenes/YoungWoman.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/Imagenes/Avengers.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/Imagenes/IntensaMente.jpg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/Imagenes/GodZillaKingkong.jpeg" alt="" /></a>
        </div>
        <div class="col-lg-4">
            <a href="#"><img class="img-thumbnail" src="~/Imagenes/BlackWidow.jpg" alt="" /></a>
        </div>
    </div>
  
</section>

