@model IEnumerable<VentadeTaquillas.Data.Pelicula>

@{
    ViewData["Title"] = "PeliculasDisp";
}

<link rel="stylesheet" href="~/css/peliculas.css" />

<section id="galeria" class="container">
    <div class="text-center pt-3">
        <h1>Peliculas Disponibles</h1>
        <p>Click para ver detalles</p>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">

                @if (item.ImagenPeli != null)
                {

                    var base64 = Convert.ToBase64String(item.ImagenPeli);
                    var img = string.Format("data:image/jpg;base64,{0}", base64);

                    <a asp-action="Details" asp-route-id="@item.PeliculaId"><img class="img-thumbnail" src="@img" alt="" /></a>

                }

            </div>

        }

    </div>
</section>

