@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/inicio.css" />

<section class="main container"
    <div class="row">
    <section class="post col-md-9">
    <div class="miga-de-pan">
    <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>&nbsp;/&nbsp;
    <li><a href="#">Nosotros</a></li>

    </ol>

    </div>

        <article class="post clearfix">
            <a href="#" class="thumb pull-left">
                <img src="~/ImagenesPelis/SU_Movie_Poster.jpg" alt="" />
            </a>
            <h2 class="post-title">
                <a href="#">Steven Universe la Pelicula - Compra tu Taquilla YA!</a>
            </h2>
            <div class="contenedor-botones">
                <a href="#" class="btn btn-primary">Comprar Taquilla</a>
            </div>
        </article>

    </section>

    </div>

    </section>
