@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/inicio.css" />



    <article class="post clearfix">
        <a href="#" style='float:left' class="thumb">
            <img class="img-thumbnail" src="~/ImagenesPelis/RE.jpg" alt="" />
        </a>
        <h2 class="post-title">
            <a href="#">Resident Evil - Proximamente!</a>
        </h2>
        <p><span class="post-fecha">10/03/2021</span></p>
        <p class="post-contenido text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et massa lectus. Donec in feugiat lectus. Praesent eget venenatis nibh.

        </p>
        <div class="contenedor-botones">
            <a href="#" class="btn btn-primary">Comprar Taquilla</a>
        </div>
    </article>

    <article class="post clearfix">
        <a href="#" style='float:left' class="thumb">
            <img class="img-thumbnail" src="~/ImagenesPelis/soul.jpg" alt="" />
        </a>
        <h2 class="post-title">
            <a href="#">Soul - Ya Disponible!</a>
        </h2>
        <p><span class="post-fecha">10/03/2021</span></p>
        <p class="post-contenido text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et massa lectus. Donec in feugiat lectus. Praesent eget venenatis nibh.
        </p>
        <div class="contenedor-botones">
            <a href="#" class="btn btn-primary">Comprar Taquilla</a>
        </div>
    </article>

