@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/inicio.css" />



        <article class="post clearfix">
            <a href="#" class="thumb pull-left">
                <img src="~/ImagenesPelis/SU_Movie_Poster.jpg" alt="" />
            </a>
            <h2 class="post-title">
                <a href="#">Steven Universe la Pelicula - Compra tu Taquilla YA!</a>
            </h2>
            <p><span class="post-fecha">10/03/2021</span></p>
            <p class="post-contenido text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et massa lectus. Donec in feugiat lectus. Praesent eget venenatis nibh. Curabitur iaculis vel felis sed malesuada. Etiam faucibus, orci eu pretium facilisis, nunc turpis rutrum elit, et dapibus ligula eros quis velit. Vivamus iaculis, arcu non aliquam ullamcorper, nisi metus vehicula odio, vitae placerat lectus tellus in elit. Curabitur facilisis, tellus quis molestie vestibulum, leo tortor lobortis justo, nec vehicula lacus ante vel lacus. Suspendisse potenti. Suspendisse et neque tempor, tempor purus porttitor, mollis nisi. Duis lacinia enim neque, vel feugiat metus elementum eget. Nullam tempor porttitor quam eu mattis. Proin luctus ex id dignissim aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc in hendrerit lacus, vitae imperdiet diam.

                Sed pharetra felis at nisi rhoncus egestas. Aenean iaculis neque tortor, sed aliquet est varius sit amet. Cras felis lacus, vehicula eu ipsum quis, posuere consequat purus. Nunc eu mattis nisl. Quisque nibh ex, rutrum et tortor at, pellentesque pulvinar erat. Sed a auctor enim, at dapibus leo. Maecenas accumsan metus in massa placerat, non mollis massa sodales. Nunc nunc libero, iaculis vitae justo ut, tincidunt porttitor justo.
            </p>
            <div class="contenedor-botones">
                <a href="#" class="btn btn-primary">Comprar Taquilla</a>
            </div>
        </article>


