
@{
    ViewData["Title"] = "Mantenimento";
}

<h1>Mantenimento</h1>

<div>
    <a asp-controller="Cines" asp-action="Index" class="btn btn-primary">Cines y mas</a>
</div>
<div>
    <a asp-controller="Publicacions" asp-action="Reportes" class="btn btn-primary">Publicaciones</a>

</div>
<div>
    <a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Clientes</a>

</div>
<div>

    <a asp-controller="Taquillas" asp-action="Index" class="btn btn-primary">Taquillas</a>
</div>
