<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiSoft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">ServiSoft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Peliculas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Peliculas" asp-action="Index">Peliculas Disponibles</a>
                        </div>
                    </li>
                </ul>

                <div class="d-inline my-2 my-lg-0">
                    <img src="~/Logo/republicadominicana.png" width="270px" height="45px" />
                </div>
            </div>
        </nav>
    </header>

    <section class="jumbotron">
        <div class="container">
            <h1>ServiSoft</h1>
            <p>Los Mejores en Servicio de Software</p>
        </div>
    </section>


    <section class="main container">
        <div class="row">
            <section class="posts col-md-9">
                <div class="miga-de-pan">
                    <ol class="breadcrumb">
                        <li><a href="#">Inicio</a></li>&nbsp;/&nbsp;
                        <li><a href="#">Nosotros</a></li>

                    </ol>

                </div>



                @RenderBody()



            </section>

            <aside class="col-md-3  hidden-xs hidden-sm">
                <h4>Redes Sociales</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Prueba</a>
                    <a href="#" class="list-group-item">Tomate</a>
                    <a href="#" class="list-group-item">Queso</a>
                    <a href="#" class="list-group-item">Pan</a>

                </div><br />

                <h4>Articulos Recientes</h4>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Categorias</h4>Compra tus Taquillas para tu Pelicula
                    <p class="list-group-item-text">Compra tu Taquilla YA!</p>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Categorias</h4>Compra tus Taquillas para tu Pelicula
                    <p class="list-group-item-text">Compra tu Taquilla YA!</p>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Categorias</h4>Compra tus Taquillas para tu Pelicula
                    <p class="list-group-item-text">Compra tu Taquilla YA!</p>
                </a>
            </aside>

        </div>

    </section>


    <footer class="bg-dark text-white py-4">
        <div class="container">
            <nav class="row">
                <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center">ServiSoft</a>

                <ul class="col-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase">Informaciones</li>
                    <li><p class="text-reset">Arbolado, San Pedro de Macoris, Las Flores 1616</p></li>
                    <li><p class="text-reset">809-816-2616 - ServiSoft_RD@gmail.com</p></li>
                    <li><p class="text-reset">© 2021 TODOS LOS DERECHOS RESERVADOS</p></li>


                </ul>


                <ul class="col-3 list-unstyled">

                    <li><img src="~/Logo/escudo.png" /></li><br />

                    <li><a class="text-reset" href="#"><img src="~/Nortic/NorticA2.png" /></a></li>


                </ul>

                <ul class="col-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase">Redes Sociales</li>
                    <li class="d-flex justify-content-between">
                        <a class="text-reset" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-reset" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-reset" href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a class="text-reset" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>


                    </li>


                </ul>
            </nav>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
