<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiSoft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ServiSoft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Peliculas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Peliculas" asp-action="Index">Peliculas Disponibles</a>
                            </div>
                    </li>
                </ul>

                <div class="d-inline my-2 my-lg-0">
                    <img src="~/Logo/escudo-RD.png" width="280px" height="50px" />
                </div>
            </div>
        </nav>
    </header>

    <section class="jumbotron">
        <div class="container">
            <h1>ServiSoft</h1>
        </div>
    </section>


    <section class="main container">
        <div class="row">
            <section class="posts col-md-9">
                <div class="miga-de-pan">
                    <ol class="breadcrumb">
                        <li><a href="#">Inicio</a></li>&nbsp;/&nbsp;
                        <li><a href="#">Nosotros</a></li>

                    </ol>

                </div>

    
                    
                 @RenderBody()
                 
 

            </section>

            <aside class="col-md-3  hidden-xs hidden-sm">
                <h4>Categorias</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Prueba</a>
                    <a href="#" class="list-group-item">Tomate</a>
                    <a href="#" class="list-group-item">Queso</a>
                    <a href="#" class="list-group-item">Pan</a>

                </div><br />

                <h4>Articulos Recientes</h4>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Categorias</h4>Compra tus Taquillas para tu Pelicula
                    <p class="list-group-item-text">Compra tu Taquilla YA!</p>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Categorias</h4>Compra tus Taquillas para tu Pelicula
                    <p class="list-group-item-text">Compra tu Taquilla YA!</p>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Categorias</h4>Compra tus Taquillas para tu Pelicula
                    <p class="list-group-item-text">Compra tu Taquilla YA!</p>
                </a>
        </aside>

        </div>

    </section>

    


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - VentadeTaquillas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
