@using Microsoft.AspNetCore.Identity
@using VentadeTaquillas.Data;
@inject SignInManager<Administrador> SignInManager
@inject UserManager<Administrador> UserManager


@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrador"))
{

    <a class="text-white list-group-item active" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity.Name!</a>



}
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrador"))
{


    <form class="list-group-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Publicacions", new { area = "" })">
        <button type="submit" class="btn btn-link text-dark">Cerrar Sesión</button>
    </form>

}
else if (User.IsInRole("Administrador"))
{

    <a class="text-dark list-group-item" asp-area="Identity" asp-page="/Account/Register">Register</a>


    <a class="text-dark list-group-item" asp-area="Identity" asp-page="/Account/Login">Login</a>


}
else
{


    <a class="text-dark list-group-item" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
}

