
@{
    ViewData["Title"] = "Intermedio";


    Guid? idclient= ViewBag.idCliente;
    Guid? idpelis= ViewBag.idPelicula;
}

<h1>Exito!</h1>

<h4>Sus datos han sido guardados correctamente, por favor prosiga a darle a siguiente.</h4>

<div class="text-center">
<a asp-controller="Taquillas" asp-action="Create" asp-route-id="@idpelis" asp-route-idcl="@idclient" class="btn btn-primary">Siguiente</a>
</div>